<h1>フォロー 一覧表示</h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    
    <h3>フォロー (<%= @following.count %>)</h3>

    <% @following.each do |f| %>
      <%= gravatar_for @user %>
      名前：<%= f.name %> <br>
      メールアドレス<%= f.email %> 
      <br>
      <br>
      <br>
      <br>
    <% end %>
  </div>
</div>

